{
  "openapi": "3.1.0",
  "info": {
    "title": "Indolat CBT API Documentation",
    "description": "This is the API endpoint documentation for the Indolat Computer-Based Test (CBT) system. This documentation provides all the information you need to interact with our services programmatically. To use this API, you will need an API key which can be included in the `X-Client-Key` header. You can obtain your API key from the settings section in your Indolat account dashboard.",
    "contact": {
      "email": "support@indolat.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://app.indolat.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Participant",
      "description": "Operations related to managing participant data, both individually and in bulk."
    },
    {
      "name": "Exam",
      "description": "Manages master data for all exams available in the system."
    },
    {
      "name": "Exam Participant",
      "description": "Manages the assignment of participants to specific exams and their participation status."
    },
    {
      "name": "Exam Result",
      "description": "Accesses and manages the results of exams completed by participants."
    }
  ],
  "paths": {
    "/participants": {
      "get": {
        "tags": [
          "Participant"
        ],
        "summary": "Get a list of participants",
        "description": "Retrieves a list of participants registered in the system. The results are paginated for efficient data management.",
        "operationId": "Participant",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of participant records to return per page. Minimum value is 1, maximum is 100, and the default is 10 if not specified.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specifies the page number of the participant list to access. Minimum value is 1, and the default is 1 if not specified.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of participants.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission to access this resource."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Create a new participant",
        "description": "Registers a new participant into the system by providing the necessary details.",
        "operationId": "postParticipant",
        "requestBody": {
          "description": "JSON object containing the details of the participant to be added. Email must be unique.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Participant"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Participant successfully created and added to the system.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Total number of participants exceeds the limit allowed by your service plan."
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          },
          "422": {
            "description": "Validation error occurred on the submitted data. Please check the format and completeness of the data."
          },
          "500": {
            "description": "An internal server error occurred. Please try again shortly or contact support."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      }
    },
    "/participants/{id}": {
      "get": {
        "tags": [
          "Participant"
        ],
        "summary": "Find and display participant details",
        "description": "Retrieves detailed information of a participant based on their unique ID.",
        "operationId": "detailParticipant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of the participant to find.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Participant data successfully found and displayed.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          },
          "404": {
            "description": "Participant data with the given ID was not found in the system."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Participant"
        ],
        "summary": "Update an existing participant's data",
        "description": "Modifies the detailed information of a registered participant based on their unique ID.",
        "operationId": "putParticipant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of the participant whose data will be updated.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "JSON object containing the participant data to be updated. Only provided fields will be changed.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParticipantPut"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant data successfully updated.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          },
          "404": {
            "description": "Participant data with the given ID was not found and thus cannot be updated."
          },
          "422": {
            "description": "Validation error occurred on the data submitted for update. Please check the format and completeness of the data."
          },
          "500": {
            "description": "An internal server error occurred. Please try again shortly or contact support."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Participant"
        ],
        "summary": "Delete a participant from the system",
        "description": "Permanently removes a participant's data from the system based on their unique ID.",
        "operationId": "deleteParticipant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of the participant to be deleted.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Participant successfully deleted from the system.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          },
          "404": {
            "description": "Participant data with the given ID was not found and thus cannot be deleted."
          },
          "500": {
            "description": "An internal server error occurred. Please try again shortly or contact support."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      }
    },
    "/participants/import": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Import participant data in bulk",
        "description": "Imports a list of participants in large quantities. If a participant's email is already registered, their data will be updated. Otherwise, a new participant will be created.",
        "requestBody": {
          "description": "JSON object containing an array of participant data to be imported.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParticipantImport"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Participant data successfully imported or updated.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Invalid JSON format or the total number of participants after import will exceed the allowed limit."
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          },
          "422": {
            "description": "Validation error occurred on one or more imported participant data. Please check the format and completeness of the data."
          },
          "500": {
            "description": "An internal server error occurred. Please try again shortly or contact support."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      }
    },
    "/exams": {
      "get": {
        "tags": [
          "Exam"
        ],
        "summary": "Get a list of exams",
        "description": "Retrieves a list of all exams available in the system. The results are paginated.",
        "operationId": "Exam",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of exam records to return per page. (min: 1, max: 100, default: 10)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specifies the page number of the exam list to access. (min: 1, default: 1)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of exams.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      }
    },
    "/exams/{id}": {
      "get": {
        "tags": [
          "Exam"
        ],
        "summary": "Find and display exam details",
        "description": "Retrieves detailed information about an exam based on its unique ID.",
        "operationId": "detailExam",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of the exam to find.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exam data successfully found and displayed.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          },
          "404": {
            "description": "Exam data with the given ID was not found in the system."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      }
    },
    "/exam-participants/assign": {
      "post": {
        "tags": [
          "Exam Participant"
        ],
        "summary": "Assign a participant to an exam",
        "description": "Registers or assigns a participant to a specific exam. The participant must be active and have verified their email.",
        "operationId": "assignExamParticipant",
        "requestBody": {
          "description": "JSON object containing the participant ID and exam ID for the assignment process.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExamParticipant"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Participant successfully registered or assigned to the exam.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Failed to assign: Participant is not active or has not verified email / Number of exam participants exceeds limit / Participant is already registered for this exam."
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          },
          "404": {
            "description": "Participant or Exam data with the given ID was not found."
          },
          "422": {
            "description": "Validation error occurred on the submitted participant ID or exam ID."
          },
          "500": {
            "description": "An internal server error occurred. Please try again shortly or contact support."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      }
    },
    "/exam-participants/unassign": {
      "post": {
        "tags": [
          "Exam Participant"
        ],
        "summary": "Unassign a participant from an exam",
        "description": "Removes or cancels a participant's assignment from a specific exam, as long as the participant has not started the exam.",
        "operationId": "unassignExamParticipant",
        "requestBody": {
          "description": "JSON object containing the participant ID and exam ID for the unassignment process.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExamParticipant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant's assignment from the exam successfully canceled.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Failed to unassign: Participant is not registered for this exam or participant has already started the exam."
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          },
          "404": {
            "description": "Participant or Exam data with the given ID was not found."
          },
          "422": {
            "description": "Validation error occurred on the submitted participant ID or exam ID."
          },
          "500": {
            "description": "An internal server error occurred. Please try again shortly or contact support."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      }
    },
    "/exam-participants/link": {
      "get": {
        "tags": [
          "Exam Participant"
        ],
        "summary": "Get the exam taking link for a participant",
        "description": "Generates and retrieves a unique link that a participant can use to access and take an assigned exam.",
        "operationId": "linkExamParticipant",
        "parameters": [
          {
            "name": "participant_id",
            "in": "query",
            "description": "Unique ID of the participant.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "exam_id",
            "in": "query",
            "description": "Unique ID of the exam.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exam taking link successfully generated and returned.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          },
          "404": {
            "description": "Participant is not assigned to this exam, or participant/exam data not found."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      }
    },
    "/exam-results": {
      "get": {
        "tags": [
          "Exam Result"
        ],
        "summary": "Get a list of participant exam results",
        "description": "Retrieves a list of exam results. Can be filtered by participant ID and/or exam ID. The results are paginated.",
        "operationId": "ExamResult",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of exam result records to return per page. (min: 1, max: 100, default: 10)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specifies the page number of the exam result list to access. (min: 1, default: 1)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "participant_id",
            "in": "query",
            "description": "Unique ID of the Participant to filter exam results. Optional.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "exam_id",
            "in": "query",
            "description": "Unique ID of the Exam to filter exam results. Optional.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of exam results.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Authorization failed. Ensure the `X-Client-Key` sent is valid and active."
          },
          "403": {
            "description": "Invalid or inactive client. The API key may be incorrect, expired, or your account does not have permission."
          }
        },
        "security": [
          {
            "X-Client-Key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-Client-Key": {
        "type": "apiKey",
        "name": "X-Client-Key",
        "in": "header",
        "description": "Unique API key used for authorizing every request to the server. Obtainable from the user dashboard."
      }
    },
    "schemas": {
      "Participant": {
        "type": "object",
        "description": "Represents a participant's data.",
        "required": [
          "email",
          "name",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "Unique email address for the participant. Also used as the username for login.",
            "example": "participant@example.com"
          },
          "name": {
            "type": "string",
            "description": "Full name of the participant.",
            "example": "John Doe"
          },
          "password": {
            "type": "string",
            "description": "Password for participant login. Ensure to send a strong and secure password.",
            "example": "StrongPassword123!"
          }
        }
      },
      "ParticipantPut": {
        "type": "object",
        "description": "Represents participant data for updates. Only fields relevant for update are included.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Participant's new full name. Optional, leave empty if no change to name is desired.",
            "example": "John Doe Updated"
          },
          "password": {
            "type": "string",
            "description": "Participant's new password. Optional, leave empty if no change to password is desired. If provided, ensure it meets security standards.",
            "example": "NewSecurePassword321#"
          }
        }
      },
      "ParticipantImport": {
        "type": "object",
        "description": "Data structure for importing multiple participants at once.",
        "required": [
          "participants"
        ],
        "properties": {
          "participants": {
            "type": "array",
            "description": "An array containing one or more participant data objects to be imported.",
            "items": {
              "$ref": "#/components/schemas/Participant"
            }
          }
        }
      },
      "ExamParticipant": {
        "type": "object",
        "description": "Data structure linking a participant and an exam for assignment or unassignment operations.",
        "required": [
          "participant_id",
          "exam_id"
        ],
        "properties": {
          "participant_id": {
            "type": "integer",
            "description": "Unique ID of the participant to be assigned to or unassigned from an exam.",
            "example": 101
          },
          "exam_id": {
            "type": "integer",
            "description": "Unique ID of the exam related to the assignment or unassignment operation.",
            "example": 202
          }
        }
      }
    }
  }
}